<include href="views/header.html">
    <div class="container redb rounded" id="container">
        <div class="row">
            <h1>Date By Food</h1>
        </div><br>
        <div class="row">
            <h2>Membership</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>State</th>
                    <th>Gender</th>
                    <th>Seeking</th>
                    <th>Premium</th>
                    <th>Interests</th>
                </tr>
                </thead>
                <tbody>
                <repeat group="{{ @members }}" value="{{ @member }}">
                    <tr>
                        <td>{{ @member['member_id'] }} </td>
                        <td>{{ @member['fname'] }} {{ @member['lname'] }}</td>
                        <td> {{ @member['age'] }}</td>
                        <td> {{ @member['phone'] }}</td>
                        <td>{{ @member['email'] }}</td>
                        <td>{{ @member['state'] }}</td>
                        <td> {{ @member['gender'] }}</td>
                        <td> {{ @member['seeking'] }}</td>
                        <td>
                            <check if="{{ @member['premium'] == '1' }}">
                                <true>
                                    <input type="checkbox" checked>
                                </true>
                                <false>
                                    <input type="checkbox">
                                </false>
                            </check>
                        </td>
                        <td>{{ @member['interests'] }}</td>
                    </tr>
                </repeat>
                </tbody>
            </table>
        </div>
    </div>

    <!-- jQuery first, then Popper, then Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
    </html>
