<!--
* Rob Wood
* 1/18/2020
* This is a dating app website for class IT328
* This file is the home view page which allows you to choose interests for your profile to the website

-->
<include href="views/header.html">
    <div class="container redb rounded" id="container">
        <h1>Interests</h1>
        <hr>

        <form method = "post" action ="#">
            <div class="row">
                <div class="col">
                    <p class="font-weight-bold">In-door interests</p>
                    <check if="{{ @errors['indoorI'] }}">
                        <span class="err">{{ @errors['indoorI'] }}</span>
                    </check><br>
                </div>

            </div>
            <div class="row">
                <repeat group="{{ @indoor }}" value="{{ @indoorOption }}">
                    <div class="col-md-3">
                        <label><input type="checkbox"
                                  name="indoorInterests[]"
                                  value="{{ @indoorOption }}"
                        <check if="{{ isset( @selectedIndoor) && in_array(@indoorOption, @selectedIndoor) }}">
                            checked
                        </check>
                        > {{ @indoorOption }}
                    </label><br>
                    </div>
                </repeat>
            </div>
            <div class="row">
                <div class="col">
                    <p class="font-weight-bold">Out-door Interests</p>
                    <check if="{{ @errors['outdoorI'] }}">
                        <span class="err">{{ @errors['outdoorI'] }}</span>
                    </check><br>
                </div>
            </div>


            <div class="row">
                <repeat group="{{ @outdoor }}" value="{{ @outdoorOption }}">
                    <div class="col-md-3">
                        <label><input type="checkbox"
                                      name="outdoorInterests[]"
                                      value="{{ @outdoorOption }}"
                            <check if="{{ isset( @selectedOutdoor) && in_array(@outdoorOption, @selectedOutdoor) }}">
                                checked
                            </check>
                            > {{ @outdoorOption }}
                        </label><br>
                    </div>
                </repeat>
            </div>

            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">
                    <input type="submit" class="button" value="Next >">
                </div>
            </div>
        </form>
    </div>

<!-- jQuery first, then Popper, then Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
