<!--
* Rob Wood
* 1/18/2020
* This is a dating app website for class IT328
* This file is the home view page which allows you to see the entrance to the website
* and set up a profile for the dating app
-->
<include href="views/header.html">
    <div class="container redb" id="container">
        <div class="row">
            <h1>Interests</h1>
        </div>
    <form method = "post" action ="summary">

            <div class="row">
                <p class="font-weight-bold">In-door interests</p>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="checkbox" id="tv" value="tv" name="interests[]">
                    <label for="tv">tv</label>
                </div>
                <div class="col-md-3">
                    <input type="checkbox" id="puzzles" value="puzzles" name="interests[]">
                    <label for="puzzles">puzzles</label>
                </div>
                <div class="col-md-3">
                    <input type="checkbox" id="movies" value="movies" name="interests[]">
                    <label for="movies">movies</label>
                </div>

                <div class="col-md-3">
                    <input type="checkbox" id="reading" value="reading" name="interests[]">
                    <label for="reading">reading</label>
                </div>
                <div class="col-md-3">
                    <input type="checkbox" id="cooking" value="cooking" name="interests[]">
                    <label for="cooking">cooking</label>
                </div>

                <div class="col-md-3">
                    <input type="checkbox" id="cards" value="playing cards" name="interests[]">
                    <label for="cards">playing cards</label>
                </div>
                <div class="col-md-3">
                    <input type="checkbox" id="board" value="board games" name="interests[]">
                    <label for="board">board games</label>
                </div>

                <div class="col-md-3">
                    <input type="checkbox" id="video" value="video games" name="interests[]">
                    <label for="video">video games</label>
                </div>
            </div>
            <div class="row">
                <p class="font-weight-bold">Out-door Interests</p>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <input type="checkbox" id="hiking" value="hiking" name="interests[]">
                    <label for="hiking">hiking</label>
                </div>

                <div class="col-md-3">
                    <input type="checkbox" id="walking" value="walking" name="interests[]">
                    <label for="walking">walking</label>
                </div>
                <div class="col-md-3">
                    <input type="checkbox" id="biking" value="biking" name="interests[]">
                    <label for="biking">biking</label>
                </div>

                <div class="col-md-3">
                    <input type="checkbox" id="swimming" value="swimming" name="interests[]">
                    <label for="swimming">swimming</label>
                </div>
                <div class="col-md-3">
                    <input type="checkbox" id="climbing" value="climbing" name="interests[]">
                    <label for="climbing">climbing</label>
                </div>
                <div class="col-md-3">
                    <input type="checkbox" id="collecting" value="collecting" name="interests[]">
                    <label for="collecting">collecting</label>
                </div>

            </div>
        <input type="submit" class="button float-right" value="Next >">


        </form>
    </div>

<!-- jQuery first, then Popper, then Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
