<!--
* Rob Wood
* 1/18/2020
* This is a dating app website for class IT328
* This file is the home view page which allows you to see the entrance to the website
* and set up a profile for the dating app
-->

<include href="views/header.html">
    <div class="container redb rounded" id="container">
        <h1>Personal Information</h1>
        <hr>
        <form method = "post" action ="profile">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="first_name" class="font-weight-bold">First Name</label><br>
                        <input type="text" name="first_name" id="first_name" class="form-control rounded">
                    </div>

                    <div class="form-group">
                        <label for="last_name" class="font-weight-bold">Last Name</label><br>
                        <input type="text" name="last_name" id="last_name" class="form-control rounded">
                    </div>

                    <div class="form-group">
                        <label for="age" class="font-weight-bold">Age</label><br>
                        <input type="text" name="age" id="age" class="form-control rounded">
                    </div>

                    <div class="form-group">
                        <label><span class="font-weight-bold">Gender</span><br>
                            <input type="radio" name="gender" value="Male">Male &nbsp;
                            <input type="radio" name="gender" value="Female">Female<br>
                        </label><br>
                    </div>

                    <div class="form-group">
                        <label for="phone" class="font-weight-bold">Phone Number</label><br>
                        <input type="text" name="phone" id="phone" placeholder="253-312-0134"  class="form-control rounded">
                    </div>

                </div>
                <div class="col-md-4 float-left">
                    <div class="redbPriv rounded">
                        <span class="font-weight-bold">Note:</span>
                        All information entered is protected by our
                        <a href="privacy">privacy policy.</a>
                        Profile information can only be viewed by others with your permission.
                    </div>
                    <br>
                    <div>
                        <input type="submit" class="button float-right " value="Next >">
                    </div>
                </div>
            </div>
        </form>
    </div>
<!--

    <div class="container redb" id="container">
    <div class="row">

        <div class="col-md-8">
                <h2>Personal Information</h2>
            <hr>
                <form method = "post" action ="profile">

                    <div class="form-group">
                        <label for="first_name" class="font-weight-bold">First Name</label><br>
                        <input type="text" name="first_name" id="first_name" class="form-control rounded">
                    </div>

                    <div class="form-group">
                    <label for="last_name" class="font-weight-bold">Last Name</label><br>
                        <input type="text" name="last_name" id="last_name" class="form-control rounded">
                    </div>

                    <div class="form-group">
                    <label for="age" class="font-weight-bold">Age</label><br>
                        <input type="text" name="age" id="age" class="form-control rounded">
                    </div>

                    <div class="form-group">
                    <label><span class="font-weight-bold">Gender</span><br>
                        <input type="radio" name="gender" value="Male">Male &nbsp;
                        <input type="radio" name="gender" value="Female">Female<br>
                    </label><br>
                    </div>

                    <div class="form-group">
                        <label for="phone" class="font-weight-bold">Phone Number</label><br>
                        <input type="text" name="phone" id="phone" placeholder="253-312-0134"  class="form-control rounded">
                    </div>
                    <div class="col text-center">
                        <input type="submit" class="button float-right " value="Next >">
                    </div>
                </form>

            &lt;!&ndash; </div>&ndash;&gt;
      </div>
      <div class="col-md-4 float-right text-center ">

          <div class="redbPriv">
              <span class="font-weight-bold">Note:</span>
              All information entered is protected by our
              <a href="privacy">privacy policy.</a>
              Profile information can only be viewed by others with your permission.
          </div>
      </div>
  </div>
</div>
-->

<!-- jQuery first, then Popper, then Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
