<!--
* Rob Wood
* 1/18/2020
* This is a dating app website for class IT328
* This file is the home view page which allows you to see the entrance to the website
* and set up a profile for the dating app
-->
<include href="views/header.html">
    <div class="container redb" id="container">
    <div class="row">
        <form method = "post" action ="interests">
        <div class="">
            <div class="row">
                <div class="col-md-6">
                    <h1>Profile</h1>
                    <div class="form-group">
                        <label class="font-weight-bold">Email<br>
                        <input type="text" name="email" class="form-control" >
                    </label><br>
                    </div>
                    <label class="font-weight-bold">State<br>
                        <select name="state" class="form-control">
                            <option value="OREGON" >OREGON</option>
                            <option value="WASHINGTON" >WASHINGTON</option>
                        </select>
                    </label><br>

                    <label><span class="font-weight-bold">Seeking</span><br>
                        <input type="radio" name="seeking" value="Male">Male
                        <input type="radio" name="seeking" value="Female">Female<br>
                    </label><br>
                </div>
                <div class="col-md-6">
                    <div class="float-right">
                        <label class="font-weight-bold">Biography<br>
                            <textarea rows="4" cols="50" name="bio"></textarea>
                        </label><br>
                        <input type="submit" class="button" value="Next >>">
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>

<!-- jQuery first, then Popper, then Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
