<!--
* Rob Wood
* 1/18/2020
* This is a dating app website for class IT328
* This file is the home view page which allows you to enter email state seeking and bio into the application.
-->
<include href="views/header.html">

    <div class="container redb rounded" id="container">
        <h1>Profile</h1>
        <hr>
        <form method = "post" action ="#">
        <div class="row">

            <div class="col">

                <div class="form-group">
                    <label for="email" class="font-weight-bold">Email</label><br>
                    <check if="{{ @errors['email'] }}">
                        <span class="err">{{ @errors['email'] }}</span>
                    </check>
                    <input type="text" id="email" name="email" class="form-control" placeholder="joe@joes.com" value="{{ @email}}">

                </div>

                <div class="form-group">
                    <label for="state" class="font-weight-bold">State</label><br>
                        <select name="state" id="state" class="form-control">
                            <option value ="none"> -- SELECT -- </option>
                            <repeat group="{{ @states }}" value="{{ @state }}" >
                                <option value="{{ @state }}"
                                <check if = "{{ @state == @stateOption }}">
                                    selected
                                </check>
                                >{{ @state }}
                                </option>

                                <br>
                            </repeat>
                        </select>
                </div>

                <div class="form-group">
                    <label><span class="font-weight-bold ">Seeking</span></label><br>
                    <repeat group = "{{ @genders }}" value = "{{ @genderOptions }}">
                        <label>
                            <input type="radio"
                                   name="seeking"
                                   value="{{ @genderOptions }}"
                            <check if = "{{ @seek == @genderOptions }}">
                                checked
                            </check>
                            >{{ @genderOptions }}
                        </label>
                    </repeat>
                </div>

            </div>
            <div class="col float-left">
                <div class="form-group">
                    <label class="font-weight-bold">Biography</label><br>
                    <textarea rows="4" cols="50" name="bio" class="form-control overflow-auto" >
                        {{ @bio }}
                    </textarea>
                </div>

                <br>
                <div>
                    <input type="submit" class="button float-right " value="Next >">
                </div>
            </div>

        </div>
        </form>
    </div>

<!-- jQuery first, then Popper, then Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
