<!--
* Rob Wood
* 1/18/2020
* This is a dating app website for class IT328
* This file is the view page which allows you to see your data entry summary that was entered into the app.
-->
<include href="views/header.html">
    <div class="container redb rounded" id="container">
    <div class="row">
        <div class="col-md-6">
            <table class="redbSumm">
                <tr class="redList">
                    <td>Name:</td>
                    <td>{{ @SESSION.member->getFname()}} {{ @SESSION.member->getLname()  }}</td>
                </tr>
                <tr class="redList">
                    <td>Gender:</td>
                    <td>{{ @SESSION.member->getGender() }}</td>
                </tr>
                <tr class="redList">
                    <td>Age:</td>
                    <td>{{ @SESSION.member->getAge() }}</td>
                </tr>
                <tr class="redList">
                    <td>Phone:</td>
                    <td>{{ @SESSION.member->getPhone() }}</td>
                </tr>
                <tr class="redList">
                    <td>Email:</td>
                    <td>{{ @SESSION.member->getEmail() }}</td>
                </tr>
                <tr class="redList">
                    <td>State:</td>
                    <td>{{ @SESSION.member->getState() }}</td>
                </tr>
                <tr class="redList">
                    <td>Seeking:</td>
                    <td>{{ @SESSION.member->getSeeking() }}</td>
                </tr>

                <tr class="redList">
                    <check if="{{ @SESSION.member->memberType() == 'prem' }}">
                        <td>Interests:</td>
                        <td> Indoor:  {{ implode(", ", @SESSION.member->getInDoorInterests()) }} <br>

                            Outdoor:
                            {{ implode(", ",  @SESSION.member->getOutDoorInterests()) }}
                        </td>
                    </check>

                </tr>
            </table>
        </div>
        <div class="col-md-6 float-right d-flex flex-wrap align-items-center">
            <div>
                <ul class="list-unstyled">
                    <check if="{{ @SESSION.member->memberType() == 'prem' }}">
                        <true><li><img src="uploads/{{@SESSION['picName']}}" alt="profile pic" class="img-thumbnail rounded"></li></true>
                        <false><li><img src="images/prof.JPG" alt="profile pic" class="img-thumbnail rounded"></li></false>
                    </check>

                    <li><h2>Biography</h2> <br> {{ @SESSION.member->getBio() }}</li>
                </ul>
            </div>
        </div>
        <div class="col text-center" id="contactMe">
            <button type="button" class="btn text-center button">Contact Me!</button>
        </div>
    </div>
</div>

<!-- jQuery first, then Popper, then Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
