<!--
* Rob Wood
* 1/18/2020
* This is a dating app website for class IT328
* This file is the view page which allows you to see your data entry summary that was entered into the app.
-->
<include href="views/header.html">
    <div class="container redb rounded" id="container">
    <div class="row">
        <div class="col-md-6">
            <table class="redbSumm">
                <tr class="redList">
                    <td>Name:</td>
                    <td>{{ @SESSION.name }}</td>
                </tr>
                <tr class="redList">
                    <td>Gender:</td>
                    <td>{{ @SESSION.gender }}</td>
                </tr>
                <tr class="redList">
                    <td>Age:</td>
                    <td>{{ @SESSION.age }}</td>
                </tr>
                <tr class="redList">
                    <td>Phone:</td>
                    <td>{{ @SESSION.phone }}</td>
                </tr>
                <tr class="redList">
                    <td>Email:</td>
                    <td>{{ @SESSION.email }}</td>
                </tr>
                <tr class="redList">
                    <td>State:</td>
                    <td>{{ @SESSION.state }}</td>
                </tr>
                <tr class="redList">
                    <td>Seeking:</td>
                    <td>{{ @SESSION.seeking }}</td>
                </tr>
                <tr class="redList">
                    <td>Interests:</td>
                    <td> Indoor: {{ implode(", ", @SESSION.inDoor) }} <br>

                        Outdoor:
                              {{ implode(", ", @SESSION.outDoor) }}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6 float-right d-flex flex-wrap align-items-center">
            <div>
                <ul class="list-unstyled">
                    <li><img src="images/prof.JPG" alt="profile pic" class="img-thumbnail rounded"></li>
                    <li><h2>Biography</h2> <br> {{ @SESSION.bio }}</li>
                </ul>
            </div>
        </div>
        <div class="col text-center" id="contactMe">
            <button type="button" class="btn text-center button">Contact Me!</button>
        </div>
    </div>
</div>

<!-- jQuery first, then Popper, then Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
