<!--
* Rob Wood
* 1/18/2020
* This is a dating app website for class IT328
* This file is the home view page which allows you to see the entrance to the website
* and set up a profile for the dating app
-->
<include href="views/header.html">
<div class="container" id="container">
    <div class="row">
        <div class="col-md-6">
            <ul class="list-unstyled">
                <li class="redb">Name:  {{ @SESSION.name }}</li>
                <li>Gender:  {{ @SESSION.gender }}</li>
                <li>Age:  {{ @SESSION.age }}</li>
                <li>Phone:  {{ @SESSION.phone }}</li>
                <li>Email:  {{ @SESSION.email }}</li>
                <li>State:  {{ @SESSION.state }}</li>
                <li>Seeking:  {{ @SESSION.seeking }}</li>
                <li>Interests:  {{ @SESSION.interests }}</li>
            </ul>
        </div>
        <div class="col-md-6 float-right d-flex flex-wrap align-items-center">
            <div>
                <ul class="list-unstyled">
                    <li>pic</li>
                    <li>Bio: {{ @SESSION.bio }}</li>
                </ul>
            </div>
        </div>
        <div class="col text-center" id="contactMe">
            <button type="button" class="btn text-center button">Contact Me!</button>
        </div>
    </div>
</div>

<!-- jQuery first, then Popper, then Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
