
/*
* Rob Wood
* 1/18/2020
* This is a dating app website for class IT328
* This file styles the html that is not styled by bootstrap using CSS
*/

.button{
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-style: oblique;
    border-radius: 15px;
}

.button:hover {
    color: white;
    background-color: black;
}

#container{
    margin-top: 25px;
    border: 2px solid red;
    padding: 25px;
}

.image{
    border-radius: 15px;
}

.quotes {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-style: italic;
}
